CuestionarioKubernetes.docx
Videos de Clase
Hojas de Asistencia
Clase 3/Clase 3.pptx
Clase 3/Ejercicio/nginx-app
Clase 4/Clase 4.pptx
Clase 5/Ejercicio/server-graphql/node_modules
Clase 5/Ejercicio/server-graphql/build
Clase 5/Ejercicio/server-graphql/.env